body {
  font-family: monospace;
  color: white;
  text-align: center;
  background-color: #2b2b2b;
  font-style: normal;
}

header {
  margin: 70px;
}

footer {
  margin: 70px;
}

td {
  background-color: lightgrey;
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.game-area{
  width: 300px;
  height: auto;
  margin-right: center;
  margin-left: center;
  margin: 0 auto;
}